@layer theme, base, antd, components, utilities;

@import 'tailwindcss';

@layer base {
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	* {
		margin: 0;

		padding: 0;

		box-sizing: border-box;
	}

	html {
		font-family: sans-serif;
	}
}

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--side-menu-item-width: calc(100% - 28px);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
}

.ant-form-item-required {
  flex-direction: row-reverse;
}

.ant-form-item-required::before {
  margin-left: 4px;
}

.ant-form-item-required::after {
  width : 0;
  margin: 0 !important;
}

.ant-btn-loading-icon,
.ant-form-item-feedback-icon-validating {
	margin-bottom: 4px;
}

.ant-form-item-tooltip {
	order: -1;
}

.ant-menu-item-icon {
	translate: 0 2px;
}